<div>
    <div class="row">
        <div class="col-lg-12">

            <br>
            <div class="text-center p-2">
                <h2>Ley de Disciplina Financiera</h2>
            </div>
            <br><br>

            <div class="row p-3">
                <div class="col-lg-4"></div>

                <div class="col-lg-4">
                    <div class="col-lg-12 p-2">
                        <button target="_blank" style="width: 100%;height:100%; border-radius: 10px;" class="btn1 p-4" onclick="window.open('https://gtransparencia3.nld.gob.mx/app_ws/assets/archivos/ley_disiplina_financiera.pdf')">
                            <label style="font-size:large ;">1.-Ley de Disciplina Financiera</label> </button>
                    </div>
                    <div class="col-lg-12 p-2">
                        <button target="_blank" style="width: 100%;height:100%; border-radius: 10px;" class="btn1 p-4" onclick="window.open('https://www.disciplinafinanciera.hacienda.gob.mx/es/DISCIPLINA_FINANCIERA/Municipios_2022')">
                            <label style="font-size:large ;">2.-Sistema de Alertas de la SHCP</label>
                        </button>
                    </div>

                    <div class="col-lg-12 p-2">
                        <button [routerLink]="['financiera-laredo']" style="width: 100%;height:100%; border-radius: 10px;" class="btn1 p-4">
                            <label style="font-size:large;">3.- Disciplina Financiera en Nuevo Laredo,
                                Tamaulipas</label> </button>
                    </div>
                    <div class="col-lg-12 p-2">
                        <button [routerLink]="['/informacion-historica']" style="width: 100%;height:100%; border-radius: 10px;" class="btn1 p-4">
                            <label style="font-size:large;">4.- Información Histórica</label> </button>
                    </div>
                </div>


                <div class="col-lg-4"></div>

            </div>



        </div>
    </div>

    <br><br> <br><br>
</div>