<div class="row">
    <div class="col-12">
        <div class="card card-body animated fadeInUp">
            <div class="d-flex mb-3 mt-3">
                <a class="btn mt-4 btn-primary text-white" [routerLink]="['agregar']"> <i class="fa fa-plus"></i>Agregar usuario
                </a>
            </div>
            <div class="col-12">
                <div class="col mb-2 text-right">
                    Registros por página
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="limit" (ngModelChange)="paginado()">
                        <label ngbButtonLabel class="btn-secondary btn-xs"> <input ngbButton type="radio" [value]="10">
                            10 </label>
                        <label ngbButtonLabel class="btn-secondary btn-xs"><input ngbButton type="radio" [value]="20">
                            20</label>
                        <label ngbButtonLabel class="btn-secondary btn-xs"><input ngbButton type="radio" [value]="30">
                                30</label>
                    </div>
                </div>
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="DTColumnDefs" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead class="">
                            <tr>
                                <th>
                                    <button class="fa fa-sort-amount-up" (click)="changeOrder(varaux='idusuario','asc')">
                                    </button>
                                    <button class="fa fa-sort-amount-down" (click)="changeOrder(varaux='idusuario','desc')">
                                    </button> #
                                </th>
                                <th>
                                    <button class="fa fa-sort-amount-up" (click)="changeOrder(varaux='nombre','asc')">
                                    </button>
                                    <button class="fa fa-sort-amount-down" (click)="changeOrder(varaux='nombre','desc')">
                                    </button> Nombre
                                </th>
                                <th>
                                    <button class="fa fa-sort-amount-up" (click)="changeOrder(varaux='correo','asc')">
                                    </button>
                                    <button class="fa fa-sort-amount-down" (click)="changeOrder(varaux='correo','desc')">
                                    </button> Correo
                                </th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                            <tr>
                                <th>
                                    <input [(ngModel)]="filtros[0].param" autocomplete="off" (ngModelChange)="filtro.next()" name="idusuario" class="redondeado" type="text" placeholder="Filtrar por #">
                                </th>
                                <th>
                                    <input [(ngModel)]="filtros[1].param" autocomplete="off" (ngModelChange)="filtro.next()" name="nombre" class="redondeado" type="text" placeholder="Filtrar por nombre">
                                </th>
                                <th>
                                    <input [(ngModel)]="filtros[2].param" autocomplete="off" (ngModelChange)="filtro.next()" name="nombre" class="redondeado" type="email" placeholder="Filtrar por correo">
                                </th>
                                <th>
                                    <select [(ngModel)]="filtros[3].param" (ngModelChange)="filtro.next()" class="form-control">
                                        <option value="">TODOS</option>
                                        <option value="1">ACTIVOS</option>
                                        <option value="0">INACTIVOS</option>
                                    </select>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr *ngFor="let usuario of usuarios" [ngClass]="{'0': 'table-danger'}[usuario.activo]">
                                <td>{{usuario.idusuario}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.correo}}</td>
                                <td class="text-center">
                                    <div *ngIf="usuario.idusuario != idUsuario">
                                        <a class="label label-success pe-auto" *ngIf="usuario.activo == 1" (click)="cambiarEstado(usuario.nombre,0, usuario.idusuario)">Activo </a>
                                        <a class="label label-danger pe-auto" *ngIf="usuario.activo == 0" (click)="cambiarEstado(usuario.nombre,1,usuario.idusuario )">Inactivo </a>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" [routerLink]="['editar', usuario.idusuario]"><i class="fa fa-edit"
                                            ngbTooltip="Editar"></i> </a>
                                </td>

                            </tr>
                            <tr *ngIf="usuarios.length == 0">
                                <td colspan="5" class="text-center">Sin datos</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row ">
                    <div class="col left">
                        <ngb-pagination [collectionSize]="total" [maxSize]="5" [pageSize]="limit" [(page)]="page" [directionLinks]="true" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="paginado()">
                        </ngb-pagination>
                    </div>
                    <div class="col text-right ">
                        Total de registros: {{total}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>